@inherits DatabaseRefresh
@page "/project/{ProjectId:guid}/team"

<DefaultWindowLayout PageTitle="@($"{_project?.Name} - Team")">
    <SecondMenu>
        <ProjectsMenu />
    </SecondMenu>
    <ThirdMenu>
        <ProjectMenu ProjectId="ProjectId" />
    </ThirdMenu>
    
    <ChildContent>
        @if (_project is not null)
        {
            <MudGrid>
                @foreach (var workerInProject in _workersInProject)
                {
                    <MudItem sm="12">
                        @{
                            var dailyAllocations = workerInProject.GetDailyAllocations(Database);
                            
                            @foreach (var dailyAllocation in dailyAllocations)
                            {
                                <p>@dailyAllocation.MaximalAllocation</p>
                            }
                        }
                        
                        @{
                            var weeklyAllocations = workerInProject.GetWeeklyAllocations(Database);

                            @foreach (var weeklyAllocation in weeklyAllocations)
                            {
                                <p>@weeklyAllocation.MaximalAllocation</p>
                            }
                        }
                    </MudItem>
                }
            </MudGrid>
        }
    </ChildContent>
</DefaultWindowLayout>


@code {
    [Parameter] public required Guid ProjectId { get; set; }

    private ProjectAggregate? _project;
    private List<WorkerInProject> _workersInProject = [];

    protected override void OnLoadData()
    {
        _project = Database.Enumerate<ProjectAggregate>().Single(p => p.Id == ProjectId);
        _workersInProject = _project.GetWorkersInProject(Database).ToList();
    }
}