@inherits LayoutComponentBase

<MudThemeProvider IsDarkMode="true" Theme="EspTheme" />
<MudDialogProvider/>
<MudSnackbarProvider />

<div class="flex flex-col h-full">
    <Toolbar />
    <main class="flex-grow overflow-x-hidden overflow-y-scroll">
        <CascadingValue TValue="ProjectDatabase" IsFixed="true" Value="DatabaseService.Database">
            <ErrorBoundary>
                <ChildContent>
                    @if (DatabaseService.Database is not null)
                    {
                        @Body
                    }
                    else
                    {
                        <WorkspaceSelectorPage />
                    }
                </ChildContent>
                <ErrorContent>
                    <p>There was an error</p>
                </ErrorContent>
            </ErrorBoundary>
        </CascadingValue>
    </main>
</div>


@code{
    [Inject] public required DatabaseService<ProjectDatabase> DatabaseService { get; set; }
    
    private static readonly MudColor Lines = new(39, 39, 42, 255);
    private static readonly MudColor White = new(250, 250, 250, 255);
    private static readonly MudColor Black = new(9, 9, 11, 255);
    
    private MudTheme EspTheme
    {
        get
        {
            var theme = new MudTheme
            {
                LayoutProperties = new LayoutProperties()
                {
                    DefaultBorderRadius = "3px",
                },
                PaletteDark = new PaletteDark()
                {
                    Background = Black,
                    Surface = Black,
                    AppbarBackground = Black,
                    TextPrimary = White,
                    Primary = White,
                    AppbarText = White,
                    ActionDefault = White,
                    LinesDefault = Lines,
                    LinesInputs = Lines,
                    TableLines = Lines,
                },
                Typography = new MudBlazor.Typography
                {
                    Default = new Default
                    {
                        FontFamily = new[] { "Roboto" },
                        FontWeight = 100,
                        FontSize = "0.875rem"
                    },
                    H1 = new H1()
                    {
                        FontSize = "1.25rem"
                    },
                    H2 = new H2()
                    {
                        FontSize = "1rem"
                    },
                    H3 = new H3()
                    {
                        FontSize = "1.1rem",
                        FontWeight = 100
                    },
                    H4 = new H4()
                    {
                        FontSize = "1rem",
                        FontWeight = 100
                    },
                    Button = new Button()
                    {
                        FontWeight = 400
                    },
                }
            };

            return theme;
        }
    }
}