@inherits LayoutComponentBase

<MudDialogProvider/>
<MudSnackbarProvider/>
<MudThemeProvider IsDarkMode="false" Theme="Theme.Default"/>

<CascadingValue TValue="BrowserWindow?" IsFixed="true" Value="WindowManager.BrowserWindows.SingleOrDefault()">
    @if (DatabaseService.Database is not null)
    {
        <CascadingValue TValue="ProjectDatabase" IsFixed="true" Value="DatabaseService.Database">
            <ErrorBoundary>
                <ChildContent>
                    @Body
                </ChildContent>
                <ErrorContent>
                    <p>There was an error</p>
                </ErrorContent>
            </ErrorBoundary>
        </CascadingValue>
    }
    else
    {
        <ErrorBoundary>
            <ChildContent>
                <Workspaces />
            </ChildContent>
            <ErrorContent>
                <p>There was an error</p>
            </ErrorContent>
        </ErrorBoundary>
    }
</CascadingValue>

@code{
    [Inject] public required DatabaseService<ProjectDatabase> DatabaseService { get; set; }
    [Inject] public required WindowManager WindowManager { get; set; }
}