@inherits LayoutComponentBase

<FluentToastProvider/>
<FluentDialogProvider/>
<FluentTooltipProvider/>
<FluentMessageBarProvider/>
<FluentDesignTheme StorageName="light" Mode="DesignThemeModes.Dark" OfficeColor="OfficeColor.Outlook" />

<div class="flex flex-col h-full">
    <Toolbar />
    <main class="flex-grow overflow-x-hidden overflow-y-scroll">
        <CascadingValue TValue="ProjectDatabase" IsFixed="true" Value="DatabaseService.Database">
            <ErrorBoundary>
                <ChildContent>
                    @if (DatabaseService.Database is not null)
                    {
                        @Body
                    }
                    else
                    {
                        <WorkspaceSelectorPage />
                    }
                </ChildContent>
                <ErrorContent>
                    <p class="errorUI">There was an error</p>
                </ErrorContent>
            </ErrorBoundary>
        </CascadingValue>
    </main>
</div>


@code{
    [Inject] public required DatabaseService<ProjectDatabase> DatabaseService { get; set; }
}