<PageTitle>@PageTitle</PageTitle>

<div class="flex flex-col h-full overflow-hidden">
    <div class="flex flex-row min-h-10 h-10 justify-between drag" style="border-bottom: 1px var(--mud-palette-lines-default) solid">
        <div class="flex flex-row items-center">
            @ToolbarLeftContent
        </div>
        <div class="flex flex-row items-center">
            @ToolbarCenterContent
        </div>
        <div class="flex flex-row items-center">
            @ToolbarRightContent
        </div>
    </div>

    @if (PageTitle is not null || RibbonRightContent is not null || RibbonCenterContent is not null)
    {
        <div class="flex flex-row min-h-10 h-10 justify-between" style="border-bottom: 1px var(--mud-palette-lines-default) solid">
            <MudStack Row="true" Justify="Justify.FlexStart" AlignItems="AlignItems.Center" Spacing="1" Class="mx-3">
                <MudText Typo="Typo.h2">@PageTitle</MudText>
            </MudStack>
            <MudStack Row="true" Justify="Justify.Center" AlignItems="AlignItems.Center" Spacing="1" Class="mx-3">
                @RibbonCenterContent
            </MudStack>
            <MudStack Row="true" Justify="Justify.FlexEnd" AlignItems="AlignItems.Center" Spacing="1" Class="mx-3">
                @RibbonRightContent
            </MudStack>
        </div>
    }

    <div class="flex flex-row flex-grow overflow-hidden">
        <div class="w-20">
            Hello
        </div>
        <main class="flex-grow overflow-x-hidden overflow-y-scroll">
            @ChildContent
        </main>
    </div>
    

</div>


@code {
    [Parameter] public RenderFragment? ToolbarLeftContent { get; set; }
    [Parameter] public RenderFragment? ToolbarCenterContent { get; set; }
    [Parameter] public RenderFragment? ToolbarRightContent { get; set; }

    [Parameter] public string? PageTitle { get; set; }
    [Parameter] public RenderFragment? RibbonCenterContent { get; set; }
    [Parameter] public RenderFragment? RibbonRightContent { get; set; }
    
    [Parameter] public RenderFragment? ChildContent { get; set; }
}