@inherits DatabaseRefresh
@page "/project/{ProjectId:guid}"

<button @onclick="AddRootTodo">Add Todo</button>
<FluentStack Orientation="Orientation.Vertical">
    @foreach (var rootTodo in _rootTodo)
    {
        <TodoGroup Depth="0" Todo="@rootTodo" Todos="_todos" />
    }
</FluentStack>

@code {
    [Parameter] public required Guid ProjectId { get; set; }

    private List<TodoAggregate> _todos = [];
    private List<TodoAggregate> _rootTodo = [];
    
    protected override void OnLoadData()
    {
        _todos = Database.Enumerate<TodoAggregate>()
            .Where(t => t.ProjectId == ProjectId)
            .ToList();
        
        _rootTodo = _todos.Where(t => t.ParentId is null).ToList();
    }

    private void AddRootTodo()
    {
        var todo = new TodoAggregate()
        {
            Name = "New Todo",
            ProjectId = ProjectId,
            ParentId = null
        };
        
        Database.Update(todo);    
        InvokeAsync(StateHasChanged);
    }
}