@page "/"
@using ElectronNET.API

<h1>Hello, world! 22</h1>

<p>Dark theme: @Theme.ShouldUseDarkColorsAsync().Result</p>
<p>High contrast theme: @Theme.ShouldUseHighContrastColorsAsync().Result</p>
<p>Inverted: @Theme.ShouldUseInvertedColorSchemeAsync().Result</p>

@code {
    [Inject] public required Dialog Dialog { get; set; }
    [Inject] public required NativeTheme Theme { get; set; }
}