@page "/project"
@implements IDisposable

@foreach (var project in ProjectDatabase.Enumerate<Project>())
{
    <a href="@($"/project/{project.Id}")">
        <p>@project.Name</p>
        <p>@project.LastWrite</p>
        <p>@project.Deadline</p>
    </a>
}

@code {
    [CascadingParameter] public required ProjectDatabase ProjectDatabase { get; set; }

    private IDisposable? _subscription;

    protected override Task OnParametersSetAsync()
    {
        _subscription = ProjectDatabase.LastUpdate.Subscribe(_ => InvokeAsync(StateHasChanged));

        return base.OnParametersSetAsync();
    }

    public void Dispose()
    {
        _subscription?.Dispose();
    }
}