@page "/project/{ProjectId:guid}"
@implements IDisposable

@if (_project is not null)
{
    <p>@_project.Name</p>
    <p>@_project.LastWrite</p>
    <p>@_project.Deadline</p>
}

@code {
    [CascadingParameter] public required ProjectDatabase ProjectDatabase { get; set; }
    [Parameter] public required Guid ProjectId { get; set; }
    
    private ProjectAggregate? _project;
    private IDisposable? _subscription;

    protected override Task OnParametersSetAsync()
    {
        _subscription = ProjectDatabase.LastUpdate.Subscribe(_ => InvokeAsync(StateHasChanged));
        _project = ProjectDatabase.Enumerate<ProjectAggregate>().Single(p => p.Id == ProjectId);
        
        return base.OnParametersSetAsync();
    }

    public void Dispose()
    {
        _subscription?.Dispose();
    }
}