@page "/"
@using Sapphire.Electron.Services

<button @onclick="() => OpenProject(true)">Create Workspace</button>
<button @onclick="() => OpenProject()">Open Workspace</button>
<a href="/project">Projects</a>

@code {
    [Inject] public required DatabaseManager<ProjectDatabase> DatabaseManager { get; set; }
    [Inject] public required WindowManager WindowManager { get; set; }
    [Inject] public required Dialog Dialog { get; set; }

    private async Task OpenProject(bool create = false)
    {
        var window = WindowManager.BrowserWindows.Single();
        var path = await Dialog.ShowOpenDialogAsync(window, new OpenDialogOptions()
        {
            Properties =
            [
                OpenDialogProperty.openDirectory
            ]
        });

        var selection = path.SingleOrDefault();

        if (selection is null)
            return;

        try
        {
            if (create)
            {
                DatabaseManager.Create(selection);
            }
            else
            {
                DatabaseManager.Open(selection);
            }
            
            
        }
        catch (Exception ex)
        {
            Dialog.ShowErrorBox("An error occured", ex.Message);
        }
    }
}