@page "/"
@using Amber.App.Services
@using Amber.Domain.Documents.Todo
@using CommunityToolkit.Maui.Storage
@using Moonstone

<h1>Open</h1>

<button @onclick="async () => await OpenTodoList()">Open Todolist</button>

@code {
    [Inject] public required IFolderPicker FolderPicker { get; init; }
    [Inject] public required Workspaces Workspaces { get; init; }
    
    public async Task OpenTodoList()
    {
        var result = await FolderPicker.PickAsync();

        if (result.Folder is null)
            return;
        
        Workspaces.Current = await Workspace.Open(result.Folder.Path, "session1", [new TodoHandler()]);
    }
}