@using Amber.App.Services
@using Amber.Domain.Documents.Project
@using Moonstone

@page "/projects"

@if (Workspaces.Current is not null)
{
    var workspace = Workspaces.Current;
    
    @foreach (var projectDocument in workspace.EnumerateDocuments<ProjectAggregate>())
    {
        var project = Reader.Read(projectDocument);
        
        <div>
            <a href="@($"/project/{projectDocument.Id}")">@project.Name</a>
        </div>
        
        <MudButton OnClick="CreateProject">Add Project</MudButton>
    }
}

@code {
    [Inject] public required Workspaces Workspaces { get; set; }
    [Inject] public required Reader<ProjectAggregate> Reader { get; set; }

    private void CreateProject()
    {
        var projectDocument = Workspaces.Current?.Create<ProjectAggregate>();
    }
}