@using Amber.App.Services
@using Amber.Domain.Documents.Todo

@page "/todos"

<h3>Todos</h3>

@if (Workspaces.Current is not null)
{
    var todos = Workspaces.Current.EnumerateDocuments()
        .Where(d => d.Type == typeof(Todo));
    
    @foreach (var todo in todos)
    {
        <TodoItem Id="todo.Id" />
    }
    
    <MudButton OnClick="Create">Add Todo</MudButton>
}


@code {
    [Inject] public required Workspaces Workspaces { get; set; }


    private async Task Create()
    {
        var id = Guid.NewGuid();
        await Workspaces.Current?.Create<Todo>(id)!;
        await InvokeAsync(StateHasChanged);
    }
}