@using Amber.App.Services
@using Amber.Domain.Documents.Todo
@using Amber.Domain.Documents.Todo.Mutations

@page "/todos"

<h3>Todos</h3>

@if (WorkspaceService.Current is not null)
{
    var todos = WorkspaceService.Current.EnumerateDocuments()
        .Where(d => d.Type == typeof(Todo));
    
    @foreach (var todo in todos)
    {
        <TodoItem Id="todo.Id" />
    }
    
    <button @onclick="Create">add todo</button>
}


@code {
    [Inject] public required WorkspaceService WorkspaceService { get; set; }


    private async Task Create()
    {
        var id = Guid.NewGuid();
        await WorkspaceService.Current?.Create<Todo>(id)!;
        await WorkspaceService.Current?.ApplyMutation<Todo>(id, new ChangeName()
        {
            Name = "Test"
        })!;
       
        await InvokeAsync(StateHasChanged);
    }
}