<FluentDropZone Draggable="false" Droppable="true" Item="Todo">
    <FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Center">
        @for (var i = 0; i < Depth; i++)
        {
            <div style="margin-left: 6px; border-left: 1px solid black; height: 30px"></div>
        }
        <FluentDropZone Draggable="true" Item="Todo">
            <FluentIcon Value="@(new Icons.Regular.Size20.Drag())"/>
        </FluentDropZone>
        <FluentLabel>@Todo.Name</FluentLabel>
        <FluentStack Orientation="Orientation.Horizontal">
            <FluentButton OnClick="AddSubTodo">
                <FluentIcon Value="@(new Icons.Regular.Size16.Add())"/>
            </FluentButton>
        </FluentStack>
    </FluentStack>
</FluentDropZone>

@if (OpenTodo == Todo.Id)
{
    <tr>
        <td colspan="6">
            @Todo.Name
        </td>
    </tr>
}


@code {
    [CascadingParameter] public required ProjectDatabase Database { get; set; }
    [CascadingParameter(Name = "OpenTodo")] public required Guid? OpenTodo { get; set; }
    [Parameter] public required TodoAggregate Todo { get; set; }
    [Parameter] public required uint Depth { get; set; }
    
    private void AddSubTodo()
    {
        var todo = new TodoAggregate
        {
            Name = "New Todo 1",
            ProjectId = Todo.ProjectId,
            ParentId = Todo.Id
        };

        Database.Update(todo);
        InvokeAsync(StateHasChanged);
    }

    private void ToggleEditing()
    {
        if (OpenTodo == Todo.Id)
        {
            OpenTodo = default;
            return;
        }

        OpenTodo = Todo.Id;
    }
}